.square
{
  font-size: 10em;
  font-weight: bold;
  font-family: serif;
  align-items: center;
  justify-content: center;
  display: flex;
  border: none;
  padding: 0;
  background: none;
  color: white;
}
