.game-board
{
  height: 600px;
  width: 600px;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  margin: 0 auto;
  color: #fff;
  background-color: #34495e;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.app-square
{
  border: 6px solid #2c3e50;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.start-button {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #4CAF50;
  border: none;
  margin: 4px 2px;
  padding: 15px 32px;
  cursor: pointer;
  font-size: 16px;
}
